---
title: Blog
layout: default
description: Living the dream
header-img: "img/tag-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- 标签云 -->
			<div id='tag_cloud' class="tags">
				{% for tag in site.tags %}
				<a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
				{% endfor %}
			</div>

            <!-- 标签列表 -->
			{% for tag in site.tags %}
			<div class="one-tag-list">
			  	<span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
                    <span class="tag-text">{{ tag[0] }}</span>
                </span>
				{% for post in tag[1] %}
				  <!-- <li class="listing-item">
				  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
				  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
				  </li> -->
				 <div class="post-preview">
				    <a href="{{ post.url | prepend: site.baseurl }}">
				        <h2 class="post-title">
                            {{ post.title }}
				        </h2>
				        {% if post.subtitle %}
				        <h3 class="post-subtitle">
				            {{ post.subtitle }}
				        </h3>
				        {% endif %}
				    </a>
				    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
				</div>
				<hr>
				{% endfor %}
			</div>
			{% endfor %}

		</div>
	</div>
</div>


<!-- Handle Language Change -->
<script type="text/javascript">
    // 获取节点
    var $jp = document.querySelector(".jp");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // 监听 hashchange 事件
    window.addEventListener('hashchange', _render);

    // 根据 URL hash 切换显示
    function _render(){
        var _hash = window.location.hash;
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $jp.style.display = "none";
        } else {
            $select.selectedIndex = 0;
            $jp.style.display = "block";
            $en.style.display = "none";
        }
    }

    // 处理下拉框变化
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#jp";
        } else {
            window.location.hash = "#en";
        }
    }

    // 初始化
    _render();
</script>

<!-- Gitalk コメント start  -->
{% if site.gitalk.enable %}
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: 'Ov23li6TBKLwPNqhlkdZ',
        clientSecret: '71a754d109c293b99ec666023ee74718c4c58f5a',
        repo: 'comments',         // 存放评论 Issue 的仓库名称
        owner: 'sallyninomi',       // 您的 GitHub 用户名
        admin: ['sallyninomi'],     // 管理员用户名数组
        distractionFreeMode: {{site.gitalk.distractionFreeMode}},
        id: 'tags-new',            // 为 tags 页面的留言区指定新的唯一标识符
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk コメント end -->




